.aside {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 2rem 1.75rem;
    background-color: var(--white-color);
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: var(--sidebar-width);
    z-index: 50;
}

.aside__wrap {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    margin-top: 4rem;
}

.aside__header {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 8px;
}

.aside__text-wrap {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    gap: 8px;
}

.aside__logo {}

.aside__title {
    font-size: 1.625rem;
    font-weight: 600;
}

.aside__version {
    color: #838383;
    font-size: .625rem;
    font-weight: 500;
}

.aside__body {
    color: var(--primary-color);
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
}

.aside__link {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: .5rem;
    border: 1px solid transparent;
    border-radius: 8px;
    transition: all 0.3s ease-in-out;
}

.aside__item {
    display: flex;
    align-items: center;
    gap: .875rem;
}

.aside__link:hover,
.aside__link.active-tab {
    color: var(--white-color);
    background-color: var(--primary-alt-color);
    border-radius: 8px;
}

.arrow {
    transition: all 0.2s ease-in-out;
}

.aside__link:hover .arrow {
    transform: translateX(0.25rem);
}

.aside__footer {}

.aside__footer-wrap {
    display: flex;
    align-items: center;
    gap: .75rem;
}

.aside__footer-img {
    border-radius: 50%;
    width: 3rem;
    height: 3rem;
}

.aside__footer-info {}

.aside__footer-title {
    font-weight: 500;
    padding-bottom: 9px;
}

.aside__footer-position {
    font-size: 12px;
    color: #757575;
}

.menu-toggle-wrap {
    display: flex;
    justify-content: flex-end;
    margin-top: 1rem;
    position: relative;
    top: 3rem;
    left: 0rem;
    transition: all 0.2s ease-in-out;
}

.menu-toggle {
    display: block;
    border: 1px solid transparent;
    background-color: var(--primary-color);
    border-radius: 8px;
    padding: 0.25rem;
    transition: 0.2s ease-in-out;
}

.menu-toggle:hover {
    background-color: var(--primary-alt-color);
}

.menu-toggle .arrow-toggle {
    top: -2rem;
    color: var(--white-color);
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translate(-5px, -5px) rotate(-180deg);
    transition: all 0.2s ease-in-out;
}

.collapce .menu-toggle .arrow-toggle {
    transform: translate(5px, 5px) rotate(-360deg);
}
.collapce.aside {
    width: calc(var(--sidebar-width-min) + 1rem);
    padding: 2rem 0.5rem;
}

.collapce .aside__footer-info,
.collapce .aside__link-text,
.collapce .aside__text-wrap,
.collapce .aside__logo {
    display: none;
    transition: all 0.3s ease-in-out;
}
