.main{
    width: calc(100% - var(--sidebar-width));
    position: relative;
    flex-grow: 1;
    padding: 2rem 3rem;
}
.main__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
.main__title {
    font-size: 1.5rem;
    font-weight: 500;
    padding-bottom: 3rem;
    line-height: 1.5;
}
.main__content {
    background-color: var(--white-color);
    padding: 2rem;
    border-radius: 30px;
    width: 100%;
}

.content__header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1.5rem;
}
.content__header-wrap {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}
.content__header-title {
    font-size: 1.375rem;
    font-weight: 600;
}
.content__header-subtitle {
    color: var( --green-color);
}
.content__header-search {
    color: var(--grey-color);
    border: solid 1px var(--grey-light-color);
    background-color: #F9FBFF;
    padding: .5rem;
    border-radius: .625rem;
    display: flex;
    align-items: center;
    gap: 0.5rem;
}
.search-input {
    background-color: inherit;
    outline: none;
}

/* table styles */
.content__table {
}
.table {
    width: 100%;
    overflow-x: auto;
}
.table__header {
    color: var(--grey-color);
    position: relative;
    font-weight: 500;
}

.table__row {
    border-bottom: solid 1px var(--grey-light-color);
    padding: 1.5rem 0;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(3rem, 1fr));
    grid-template-rows: 1fr;
    align-items: stretch;
    gap: 1rem;
}
.table__cell {
    display: flex;
    /* flex-wrap: wrap; */
    align-items: center;
    font-weight: 500;
    overflow-wrap: anywhere;
}
.table__body {
}

.status{
    width: 5rem;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.25rem;
}
.active-status {
    color: var(--green-dark-color);
    border: 1px solid var(--green-dark-color);
    background-color: rgba(22, 192, 152, 0.38);
}
.inactive-status {
    color: var( --red-color);
    border: 1px solid var(--red-color);
    background-color:  var(--red-light-color);
}

.content__footer {
    padding-top: 2.375rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.content__footer-info {
    color: var(--grey-color);
    font-weight: 500;
}
.content__footer-pagination {
    
}
.pagination {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    gap: .75rem;
}
.pagination__button {
    padding: 6px 9px;
    border-radius: 4px;
    border: 1px solid var(--grey-alt-color);
    color: var( --text-alt-color);
    background-color: var(--grey-fill-color);
    font-size: 12px;
    font-weight: 500;
    transition: 0.3s ease all;
}
.pagination__button:hover {
    color: var(--white-color);
    background-color: var(--primary-alt-color);
}
.prev-button {

}
.active {
}

.content__header-search:focus-within,
.pagination__button:focus-within,
.aside__link:focus-within {
    border: 1px solid var(--primary-alt-color);
    outline: none;
}
