@import url(./reset.css);
@import url(./aside.css);
@import url(./content.css);
@import url("https://fonts.googleapis.com/css?family=Poppins:regular,500,600&display=swap");


:root {
    --primary-color: #9197B3;
    --primary-alt-color: #5932EA;
    --green-color: #16C098;
    --green-dark-color: #00B087;
    --red-color: #DF0404;
    --red-light-color: #FFC5C5;
    --text-color: #292D32;
    --text-alt-color: #404B52;
    --grey-color: #B5B7C0;
    --grey-second-color: #7E7E7E;
    --grey-alt-color: #EEEEEE;
    --grey-light-color: #E7E7E7;
    --grey-fill-color: #F5F5F5;
    --white-color: #fff;
    --sidebar-width: 300px;
    --sidebar-width-min: 80px;
}

body {
    color: var(--text-color);
    background: rgba(145,151,179,0.15);
    font-family: "Poppins", sans-serif;
    font-size: 14px;
    position: relative;
}
.wrapper {
    display: flex;
    min-height: 100vh;
}
main {
    flex: 1 1 0;
}